In [4]:
import pandas as pd

In [97]:
# lendo os arquivos os [..] serve para informa que esta uma pasta para tras
df_custumers = pd.read_csv('../datas/customers.csv', sep = ';')
df_custumers

                                     UUID              Name  Points
0    aa3eaf74-6d9c-4859-b733-5a18a3b2f71b         afonso_rf     792
1    2d3d2dce-d353-4961-ad39-46723efe2100     mariicmartins    1375
2    ca95ef2a-5129-40f4-acbc-2ced25940032           tdlupus     421
3    65662aff-44d6-4f06-b9d9-07445c6e5943            kozat0    4063
4    98b960e7-6b7b-45b7-b7af-60bca40e04b9            gu1z17       0
..                                    ...               ...     ...
785  4a36c617-b018-436a-babc-4374461ab87b         null__var      53
786  403db18e-941e-4e63-ba23-e63c0515876a         lmadriles      50
787  c9bfbbf9-db90-45a7-a72c-4118140038f4  eduardo_cofferri      50
788  4caa2fb3-7ed2-436d-bc35-390feebfdebe          marmschu      50
789  000ff655-fa9f-4baa-a108-47f581ec52a1            cajuuh      52

[790 rows x 3 columns]

In [99]:
# PARA SABER QUANTIDADE DE LINHAS E COLUNAS 
df_custumers.shape

(790, 3)

In [101]:
# PARA SABER QUANTO DE MEMORIA ESTA USANDO
df_custumers.info(memory_usage = 'deep')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 790 entries, 0 to 789
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   UUID    790 non-null    object
 1   Name    790 non-null    object
 2   Points  790 non-null    int64
dtypes: int64(1), object(2)
memory usage: 117.6 KB

In [107]:
#PARA SABER QUANTIDADE DE PONTOS
#tranformando coluna em numerica
#df_custumers['Points'] = pd.to_numeric(df_custumers['Points'])
df_custumers['Points'].describe()

count     790.000000
mean      206.896203
std       411.808506
min         0.000000
25%        50.000000
50%        58.000000
75%       185.000000
max      4304.000000
Name: Points, dtype: float64

In [109]:
# quem pussui o maximo de pontos 
df_custumers.max()

UUID      fecbdf63-3bf4-44e5-8b1a-0acc9d963603
Name                                   zsahist
Points                                    4304
dtype: object