In [1]:
import pandas as pd

In [8]:
idades = [30, 42, 90, 34]
idades

[30, 42, 90, 34]

In [10]:
media = sum(idades) / len(idades)

total = 0
for i in idades:
    total += (media - i) **2

variancia = total / (len(idades) - 1)

variancia

772.0

In [18]:
# tranformacao de lisat para series panda / no parenteses de 'Series' poe os valorer que quer dentro da serie
series_idades = pd.Series(idades)
series_idades

0    30
1    42
2    90
3    34
dtype: int64

In [28]:
# media dos valores presentes na serie
series_idades.mean()

49.0

In [30]:
# variancia dos dados dentro da serie
series_idades.var()

772.0

In [32]:
# meadiana 
series_idades.median()

38.0

In [34]:
# desvio de padrão
series_idades.std()

27.784887978899608

In [36]:
# describe descreve os dados e entrega uma visao geral 
series_idades.describe()

count     4.000000
mean     49.000000
std      27.784888
min      30.000000
25%      33.000000
50%      38.000000
75%      54.000000
max      90.000000
dtype: float64

In [38]:
# é uma tupla diz qunatas linhas a serie tem
series_idades.shape

(4,)

In [42]:
# da para alterar os index dos dados que e semopre a primeira coluna 
series_idades.index = ['t', 'e', 'o', 'c']
series_idades

t    30
e    42
o    90
c    34
dtype: int64

In [44]:
# navegando na seires, ele entrega a POSIÇÃO procurda idependente do indice
series_idades.iloc[0]

30

In [50]:
# como dar nome para a serie
series_idades.name = 'idades'
series_idades

t    30
e    42
o    90
c    34
Name: idades, dtype: int64

In [54]:
# É possivel criar o nome da seria assim que criada
series_idades = pd.Series(idades, name= "idades")
series_idades

0    30
1    42
2    90
3    34
Name: idades, dtype: int64