Converta o seguinte dicionário para DataFrame e obtenha:
Sumário de cada coluna
Média da coluna idade
Último nome da coluna nome

dados = {“nome”:[“Téo”, “Nah”, “Napoleão”], “idade”: [31, 32, 14]}

In [1]:
import pandas as pd

In [14]:
dados = {'nome':['Téo', 'Nah', 'Napoleão'], 'idade': [31, 32, 14]}

In [31]:
# conversao para dataframe
df = pd.DataFrame(dados)
df

       nome  idade
0       Téo     31
1       Nah     32
2  Napoleão     14

In [47]:
# sumario de nome
sumario = df.describe()
sumario

           idade
count   3.000000
mean   25.666667
std    10.115994
min    14.000000
25%    22.500000
50%    31.000000
75%    31.500000
max    32.000000

In [51]:
# sumario de nome
df['nome'].describe()

count       3
unique      3
top       Téo
freq        1
Name: nome, dtype: object

In [57]:
# media de idade
df['idade'].mean()

25.666666666666668

In [42]:
# ultimo nome da coluna idade
df.tail(1)['nome']

2    Napoleão
Name: nome, dtype: object