In [30]:
import pandas as pd
import numpy as np

In [32]:

df = pd.read_csv("../datas/customers.csv", sep= ';')
df

                                     UUID              Name  Points
0    aa3eaf74-6d9c-4859-b733-5a18a3b2f71b         afonso_rf     792
1    2d3d2dce-d353-4961-ad39-46723efe2100     mariicmartins    1375
2    ca95ef2a-5129-40f4-acbc-2ced25940032           tdlupus     421
3    65662aff-44d6-4f06-b9d9-07445c6e5943            kozat0    4063
4    98b960e7-6b7b-45b7-b7af-60bca40e04b9            gu1z17       0
..                                    ...               ...     ...
785  4a36c617-b018-436a-babc-4374461ab87b         null__var      53
786  403db18e-941e-4e63-ba23-e63c0515876a         lmadriles      50
787  c9bfbbf9-db90-45a7-a72c-4118140038f4  eduardo_cofferri      50
788  4caa2fb3-7ed2-436d-bc35-390feebfdebe          marmschu      50
789  000ff655-fa9f-4baa-a108-47f581ec52a1            cajuuh      52

[790 rows x 3 columns]

Formas de criar colunas
-
Traga o df na posicao nome da coluna a ser criada e faca ela receber os argumentos, nesse caso fazemos a nova coluna receber os numeros da coluna points multiplicados por 2.

No segundo caso estamos fazendo uam coluna nova ter como argumentos s divisao entre a coluna newcolunpoints e Points.
 Perceba que na nova coluna existe um argumento chamado 'NaN' que significa mot a number ou seja nao existe um valor para este calculo no caso do exemplo.
 NaN so aparece em colunas int, float, strings e objects(talvez)

In [35]:
df['newcolunpoints'] = df['Points']*2
df

,UUID,Name,Points,newcolunpoints
0,aa3eaf74-6d9c-4859-b733-5a18a3b2f71b,afonso_rf,792,1584
1,2d3d2dce-d353-4961-ad39-46723efe2100,mariicmartins,1375,2750
2,ca95ef2a-5129-40f4-acbc-2ced25940032,tdlupus,421,842
3,65662aff-44d6-4f06-b9d9-07445c6e5943,kozat0,4063,8126
4,98b960e7-6b7b-45b7-b7af-60bca40e04b9,gu1z17,0,0
...,...,...,...,...
785,4a36c617-b018-436a-babc-4374461ab87b,null__var,53,106
786,403db18e-941e-4e63-ba23-e63c0515876a,lmadriles,50,100
787,c9bfbbf9-db90-45a7-a72c-4118140038f4,eduardo_cofferri,50,100
788,4caa2fb3-7ed2-436d-bc35-390feebfdebe,marmschu,50,100
789,000ff655-fa9f-4baa-a108-47f581ec52a1,cajuuh,52,104

In [37]:
df['Points_ratio'] = df['newcolunpoints'] / df['Points']
df

,UUID,Name,Points,newcolunpoints,Points_ratio
0,aa3eaf74-6d9c-4859-b733-5a18a3b2f71b,afonso_rf,792,1584,2.0
1,2d3d2dce-d353-4961-ad39-46723efe2100,mariicmartins,1375,2750,2.0
2,ca95ef2a-5129-40f4-acbc-2ced25940032,tdlupus,421,842,2.0
3,65662aff-44d6-4f06-b9d9-07445c6e5943,kozat0,4063,8126,2.0
4,98b960e7-6b7b-45b7-b7af-60bca40e04b9,gu1z17,0,0,NaN
...,...,...,...,...,...
785,4a36c617-b018-436a-babc-4374461ab87b,null__var,53,106,2.0
786,403db18e-941e-4e63-ba23-e63c0515876a,lmadriles,50,100,2.0
787,c9bfbbf9-db90-45a7-a72c-4118140038f4,eduardo_cofferri,50,100,2.0
788,4caa2fb3-7ed2-436d-bc35-390feebfdebe,marmschu,50,100,2.0
789,000ff655-fa9f-4baa-a108-47f581ec52a1,cajuuh,52,104,2.0

Quando atribuimos para uma nova coluna o valor 1 ou qualquer outro valor ele retornara aquele mesmo valor para cada linha do df

In [40]:
df['Constante'] = 1 
df

,UUID,Name,Points,newcolunpoints,Points_ratio,Constante
0,aa3eaf74-6d9c-4859-b733-5a18a3b2f71b,afonso_rf,792,1584,2.0,1
1,2d3d2dce-d353-4961-ad39-46723efe2100,mariicmartins,1375,2750,2.0,1
2,ca95ef2a-5129-40f4-acbc-2ced25940032,tdlupus,421,842,2.0,1
3,65662aff-44d6-4f06-b9d9-07445c6e5943,kozat0,4063,8126,2.0,1
4,98b960e7-6b7b-45b7-b7af-60bca40e04b9,gu1z17,0,0,NaN,1
...,...,...,...,...,...,...
785,4a36c617-b018-436a-babc-4374461ab87b,null__var,53,106,2.0,1
786,403db18e-941e-4e63-ba23-e63c0515876a,lmadriles,50,100,2.0,1
787,c9bfbbf9-db90-45a7-a72c-4118140038f4,eduardo_cofferri,50,100,2.0,1
788,4caa2fb3-7ed2-436d-bc35-390feebfdebe,marmschu,50,100,2.0,1
789,000ff655-fa9f-4baa-a108-47f581ec52a1,cajuuh,52,104,2.0,1

In [45]:
df['Points_log'] = np.log(df['Points'])
df

C:\Users\CELI\anaconda3\Lib\site-packages\pandas\core\arraylike.py:399: RuntimeWarning: divide by zero encountered in log
  result = getattr(ufunc, method)(*inputs, **kwargs)

,UUID,Name,Points,newcolunpoints,Points_ratio,Constante,Points_log
0,aa3eaf74-6d9c-4859-b733-5a18a3b2f71b,afonso_rf,792,1584,2.0,1,6.674561
1,2d3d2dce-d353-4961-ad39-46723efe2100,mariicmartins,1375,2750,2.0,1,7.226209
2,ca95ef2a-5129-40f4-acbc-2ced25940032,tdlupus,421,842,2.0,1,6.042633
3,65662aff-44d6-4f06-b9d9-07445c6e5943,kozat0,4063,8126,2.0,1,8.309677
4,98b960e7-6b7b-45b7-b7af-60bca40e04b9,gu1z17,0,0,NaN,1,-inf
...,...,...,...,...,...,...,...
785,4a36c617-b018-436a-babc-4374461ab87b,null__var,53,106,2.0,1,3.970292
786,403db18e-941e-4e63-ba23-e63c0515876a,lmadriles,50,100,2.0,1,3.912023
787,c9bfbbf9-db90-45a7-a72c-4118140038f4,eduardo_cofferri,50,100,2.0,1,3.912023
788,4caa2fb3-7ed2-436d-bc35-390feebfdebe,marmschu,50,100,2.0,1,3.912023
789,000ff655-fa9f-4baa-a108-47f581ec52a1,cajuuh,52,104,2.0,1,3.951244

Como por nomes em caixa alta 
-
A melhor forma disso e passando a coluna de uma vez com as funcoes .upper e .str

exemplo abaixo explicado: 

- para cada elemento presente na coluna Name que suponho ser .str passe para .upper() caixa alta

In [52]:
df['Name'].str.upper()

0             AFONSO_RF
1         MARIICMARTINS
2               TDLUPUS
3                KOZAT0
4                GU1Z17
             ...
785           NULL__VAR
786           LMADRILES
787    EDUARDO_COFFERRI
788            MARMSCHU
789              CAJUUH
Name: Name, Length: 790, dtype: object

filtrar apenas os nomes antes do _
-

faremos um def para filtrar apenas os nomes antes do _ e nos trazer a posicao 0 pq o splite esta dividindo com base no _ 0 para oq ue vem antes e 1 para o que  esta apos.

E para aplicar isso no nosso df nos ultilizaremos os metodo .apply() que serve para aplicar uma funcão em todas as linhas do nosso df.  
Nosso metodo nao esta chamando a funcao mas aplicando a cada linha do df a funcao, esta pegando o objeto get_first e passando para cada linha.

In [57]:
def get_first(nome:str):
    return nome.split('_')[0]

In [62]:
df['Name'].apply(get_first)

0             afonso
1      mariicmartins
2            tdlupus
3             kozat0
4             gu1z17
           ...
785             null
786        lmadriles
787          eduardo
788         marmschu
789           cajuuh
Name: Name, Length: 790, dtype: object

usando funcao lambda
-
Geralmente usda para algo que vai ser execultado apenas uma vez e vai ser uma funcao simples

Explicacao da lambda:

- lambda argumento: argumento.upper().split('_')[0]
      aqui ele esta passando como o 'x' nossa coluna e em seguida deixando ela maiuscula com .upper e dividindo-a com o delimitador _ torando cada linha em uma lista e retornando o primeiro item do resultado do item que foi dividido.

In [69]:
df['Name'].apply( lambda x: x.upper().split('_')[0] )

0             AFONSO
1      MARIICMARTINS
2            TDLUPUS
3             KOZAT0
4             GU1Z17
           ...
785             NULL
786        LMADRILES
787          EDUARDO
788         MARMSCHU
789           CAJUUH
Name: Name, Length: 790, dtype: object

como criar uma faixa de pontos 
-

Expliicacao do codigo:

- criamos um def que indicara se os pontos de cada linha serao baixo, medio ou alto.
- atribuido uma nova coluna chamada faixa_pontos e ela recebera  o resultado de df['Points'].apply(intervalo_porntos)
- que explica é df na posicao points que esta aplicando o def em cada linha de points e faixa_pontos tera esses resultados.

In [73]:
def intervalo_porntos(pontos):
    if pontos < 2500:
        return 'baixo'
    elif pontos < 3500:
        return 'medio'
    else:
        return 'alto'


df['faixa_pontos'] = df['Points'].apply(intervalo_porntos)
df

,UUID,Name,Points,newcolunpoints,Points_ratio,Constante,Points_log,faixa_pontos
0,aa3eaf74-6d9c-4859-b733-5a18a3b2f71b,afonso_rf,792,1584,2.0,1,6.674561,baixo
1,2d3d2dce-d353-4961-ad39-46723efe2100,mariicmartins,1375,2750,2.0,1,7.226209,baixo
2,ca95ef2a-5129-40f4-acbc-2ced25940032,tdlupus,421,842,2.0,1,6.042633,baixo
3,65662aff-44d6-4f06-b9d9-07445c6e5943,kozat0,4063,8126,2.0,1,8.309677,alto
4,98b960e7-6b7b-45b7-b7af-60bca40e04b9,gu1z17,0,0,NaN,1,-inf,baixo
...,...,...,...,...,...,...,...,...
785,4a36c617-b018-436a-babc-4374461ab87b,null__var,53,106,2.0,1,3.970292,baixo
786,403db18e-941e-4e63-ba23-e63c0515876a,lmadriles,50,100,2.0,1,3.912023,baixo
787,c9bfbbf9-db90-45a7-a72c-4118140038f4,eduardo_cofferri,50,100,2.0,1,3.912023,baixo
788,4caa2fb3-7ed2-436d-bc35-390feebfdebe,marmschu,50,100,2.0,1,3.912023,baixo
789,000ff655-fa9f-4baa-a108-47f581ec52a1,cajuuh,52,104,2.0,1,3.951244,baixo

como passar um data frame interio numa funcao
-
passaremos como argumento no def o row e enfrente a cada nome de coluna nos ifs row['nome da coluna']
para aplicar o def
df.apply(nome do def, axis=1)

na funcao abaixo estamos calculando pontuacao de cliente, e preciamos de uma coluna com os pontos de cada linha de cliente com as somas de recencia, valor e frequencia.

para isso criamos um def que recebera como argumento row que sera interpretado que é para ler linha por linha.

logo apos isso definimos nossa condicoes de pontos, que passa definindo as colunas do clinet daquela linha.

em seguida temos a aplicacao que é feita da seguinte forma, crimaos uma coluna chamada RVF e com apply sera aplicado o a funcao rfv a partir da coluna criada logo apos é definida linha a linha por axis=1, e entao e chamada cada linha

cada linha e kida da seguinte forma: linha 1 ou seja do teo é calculado primeiro sua recencia e é armazenada em nota e logo apos valor que é somado em nota o resulto e em seguida frequencia que tbm é somado e nota, como era o ultimo valor esta definido e armazenado na nova coluna o resutado da linha 1(teo).

as proximas linhas seguem o mesmo ritmo.

In [81]:
data = {
    "nome": ["Teo", "Nah", "Maria", "Lara"],
    "recencia": [1,30,10,45],
    "valor":[100,2000, 15, 500],
    "frequencia":[2, 5, 1, 15]
}

df_crm = pd.DataFrame(data)

def rfv(row):
    
    nota = 0
    
    if row['recencia'] <= 10:
        nota += 10
    elif 10 < row['recencia'] <= 30:
        nota += 5
    elif row['recencia'] > 30:
        nota += 0

    if row['valor'] > 1000:
        nota += 10
    elif 100 <= row['valor'] < 1000:
        nota += 5
    elif row['valor'] < 100:
        nota += 0

    if row['frequencia'] > 10:
        nota += 10
    elif 5 <= row['frequencia'] < 10:
        nota += 5
    elif row['frequencia'] < 5:
        nota += 0
    
    return nota

 # cria coluna RFV ela recebe o df aplicando o def rfv linha por linha
df_crm["RFV"] = df_crm.apply(rfv, axis=1)
df_crm

    nome  recencia  valor  frequencia  RFV
0    Teo         1    100           2   15
1    Nah        30   2000           5   20
2  Maria        10     15           1   10
3   Lara        45    500          15   15