In [7]:
import pandas as pd

In [61]:
data = {
    'Nome': ['Téo', 'Nah', 'Maria', 'Nah', 'Lara', 'Téo'],
    'Idade': [32, 33, 2, 33, 31, 32],
    'updated_at': [1, 2, 3, 1 ,2, 3]
}

Removendo duplicatas
-
 para isso use o .drop_duplicates()
- nao atualiza o original

In [40]:
df = pd.DataFrame(data)
df.drop_duplicates()

    Nome  Idade
0    Téo     32
1    Nah     33
2  Maria      2
4   Lara     31

como remover apenas duplicatas de determinadas colunas
- 
- para filtras apenas por determinadas colunas a melhor forma seria usando SUBSET=['coluna', 'coluna'], mas existe um porem quando usamos apenas isto ele prioriza por ordem de linhas e nao pr ordem de atualização, um atributo que existe para ajudar nisso é p KEEP= nele podemos atribuir 'last', 'first', sendo seu default o first que é manter o primeiro valor encontrado, ja 'last' o ultimo.

diquinha do Téo
-
sempre faca uma sort_values() nas colunas e um ascending= por ordem False(contraria da padrão)
pq assim ordena os valores pela logica de que as linhas debaixo são as linhas mais atulizadas
Fazendo o sort_values estamos garantindo os dados na ordem correta.

DROP_DUPLICATES()
- 
nosso querido drop_duplicate possui atributos que nos ajudam na hora de filtrar por colunas 

- usamos o subset= para isso passamos uma lista para ele com os nomes das colunas desejadas, logo apos o KEEp que nos enrtega sua ordem de prioridade.

In [67]:
df = pd.DataFrame(data)
df = (df.sort_values(by= 'updated_at', ascending=False).drop_duplicates(subset= ['Nome', 'Idade'], keep='first'))
df

    Nome  Idade  updated_at
2  Maria      2           3
5    Téo     32           3
1    Nah     33           2
4   Lara     31           2